<?xml version="1.0" ?>
<model>
    <name>corridorJ</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Pissard-Gibollet Roger</name>
        <email>roger.pissard@inria.fr</email>
    </author>
    <description>IoT-LAB Corridor J in INRIA Grenoble</description>
</model>
