Host dev-gre
	Hostname fit3-dev.inrialpes.fr

Host dev-roc
	Hostname rocquencourt.iot-lab.info

Host dev-stras
	Hostname fit-test.u-strasbg.fr

Host fit-gre
	Hostname grenoble.iot-lab.info

Host fit-lille
	Hostname lille.iot-lab.info

Host fit-stras
	Hostname strasbourg.iot-lab.info

Host fit-master
	Hostname fit1-dev.inrialpes.fr

Host fit-* dev-*
	Port 2222
	User root

Host *.grenoble.iot-lab.info
  ProxyCommand ssh fit-gre -W %h:%p

Host *.devgrenoble.iot-lab.info
  ProxyCommand ssh dev-gre -W %h:%p

Host *.strasbourg.iot-lab.info
  ProxyCommand ssh fit-stras -W %h:%p

Host *.devstras.iot-lab.info
  ProxyCommand ssh dev-stras -W %h:%p

Host *.lille.iot-lab.info
  ProxyCommand ssh fit-lille -W %h:%p

Host a8-*.rocquencourt.* node-a8-*.rocquencourt.* m3-*.rocquencourt.*
  ProxyCommand ssh dev-roc -W %h:%p

Host *.iot-lab.info
  User root
  StrictHostKeyChecking no
